<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/head :: main-header('Create new post')"></head>
</head>
<body>
<nav th:include="fragments/navbar :: mainNavbar"></nav>
<h1>Create a New Post</h1>
<form th:action="@{/posts/create}" method ="post" th:object = "${post}">

    <label for="title">Title:</label>
    <input th:field="*{title}" name="title" id="title"/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
    <br/>
    <label for="description">Description:</label>
    <input th:field="*{description}" name="description" id="description"/>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
    <br/>
    <input type="submit" />

</form>

</body>
</html>