<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <head th:replace="fragments/head :: main-header('View Post')"></head>
</head>
<body>
<nav th:replace="fragments/navbar :: mainNavbar"></nav>
<div th:each="post :${post}">
    <h1 th:text="${post.title}">

    </h1>
    <p th:text="${post.description}"></p>
    Created by: <a th:href="@{'mailto:' + ${post.user.email} }"><span th:text="${post.user.username}"></span></a>
</div>

</body>
</html>FK5lidm6cqbc7u4xhqpxm898qme