<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/CSS/style.css"/>
    <title>Title</title>
</head>
<body>
<div sec:authorize="isAuthenticated()" id="logged-in-nav" class="nav navbar-nav" th:fragment="loggedinNav">
    <ul id="nav-list" class="nav navbar-nav">

        <li class="list"><a href="/">Index</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </li>
    </ul>

</div>
<nav sec:authorize="isAnonymous()" id="my-nav" class="navbar navbar-default" th:fragment="mainNavbar">
         <ul id="list" class="nav navbar-nav">

                    <li class="list"><a href="/">Index</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li>
                        <!--<form th:action="@{/logout}" th:method="post">-->
                            <!--<button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
                        <!--</form>-->
                    </li>
                </ul>

    </nav>

</body>
</html>